*.pyc

# exclude data
data

# virtual env
.env
.vscode/settings.json
output/params.json
.ipynb_checkpoints/module_tests-checkpoint.ipynb
.vscode/launch.json
.vscode/settings.json
experiments/base_stn_model/eval_accuracy.txt
experiments/base_stn_model/events.out.tfevents.1574078489.DESKTOP-SSI95PE
experiments/base_stn_model/events.out.tfevents.1574078564.DESKTOP-SSI95PE
experiments/base_stn_model/events.out.tfevents.1574079243.DESKTOP-SSI95PE
experiments/base_stn_model/events.out.tfevents.1574079624.DESKTOP-SSI95PE
experiments/base_stn_model/events.out.tfevents.1574079853.DESKTOP-SSI95PE
experiments/base_stn_model/events.out.tfevents.1574079987.DESKTOP-SSI95PE
experiments/base_stn_model/samples__orig_perturbed_transformed_step_1.png
experiments/base_stn_model/samples__orig_perturbed_transformed_step_10.png
experiments/base_stn_model/samples__orig_perturbed_transformed_step_2.png
experiments/base_stn_model/samples__orig_perturbed_transformed_step_3.png
experiments/base_stn_model/samples__orig_perturbed_transformed_step_4.png
experiments/base_stn_model/samples__orig_perturbed_transformed_step_5.png
experiments/base_stn_model/samples__orig_perturbed_transformed_step_6.png
experiments/base_stn_model/samples__orig_perturbed_transformed_step_7.png
experiments/base_stn_model/samples__orig_perturbed_transformed_step_8.png
experiments/base_stn_model/samples__orig_perturbed_transformed_step_9.png
experiments/base_stn_model/state_checkpoint.pt
experiments/base_stn_model/test_image_mean.png
experiments/base_stn_model/test_image_var.png
mytest.py
